extends ../../jadeTemplates/DiphotonTemplate.jade
block vars
    -var title = "RS Gravitons";


block content
    section
        h3 Diphoton Update
        p 2016 data has started rolling in!!
        p In the coming weeks I will be working on cross checks of the data, and validation of the analysis selection.
        img(src="images/myy.png" style="height:50%")
    section
        h3 Kaluza-Klein Theories
        p Theodore Kaluza and Oscar Klein developed these extra
            |  dimension theories in the 1920s, originally as a
            |  way to unify the electromagnetic and gravitational fields.
        p This was done by proposing that these separate fields were really
            |  components of a higher dimensional field.

    section(data-background="#000000")
        div(style="background-color: rgb(20, 98, 135); width: 100%; height: 500%; position: absolute; top: -100%; left: -45%; z-index: -1;")
        div
            div(style="width: 50%; display: inline-block; margin-right: 5%; vertical-align: top;")
                p(style="text-align: right;") Consider one periodic extra dimesion:
            div(style="width: 40%; display: inline-block;")
                p(style="text-align: left;") $$ x^5 \sim x^5 + 2 \pi R $$

        div.fragment(style="margin: 50px 0px;")
            div(style="width: 50%; display: inline-block; margin-right: 5%; vertical-align: top;")
                p(style="text-align: right;") The periodic dimension would have momentum,
            div(style="width: 40%; display: inline-block;")
                p(style="text-align: left;") $$ p^5 = \frac{n}{R}, n \in \mathbb{Z} $$

        div.fragment(style="margin: 50px 0px;")
            div(style="width: 50%; display: inline-block; margin-right: 5%; vertical-align: top;")
                p(style="text-align: right;") and, the equation of motion is:
            div(style="width: 40%; display: inline-block;")
                p(style="text-align: left;") $$ \partial_{\mu}\partial^{\mu} \phi^n (x^\mu) = \frac{n^2}{R^2} \phi^n (x^\mu) $$

        div.fragment(style="margin: 50px 0px;")
            div(style="width: 50%; display: inline-block; margin-right: 5%; vertical-align: top;")
                p(style="text-align: right;") This gives fields with mass:
            div(style="width: 40%; display: inline-block;")
                p(style="text-align: left;") $$ m^2 = \frac{n^2}{R^2} $$

    section
        p At energies large compared to \(R^{-1}\) we should get KK states that can be
            |  found experimentally.
        p The current experimental constraint on extra dimensions of this type in terms of \(R\) is
        p.math $$ R \lesssim 10^{-21} cm $$
        div.fragment
            p(style="color: #cc0000; font-size: 200%") Far too small to see!!

    section
        p An idea presented by Arkani-Hamed, Dimopoulos and Dvali suggests that this extra
            |  dimension is only accessible to gravity.
        p The size of the extra dimension is then only bounded by tests of gravity which has been
            |  measured down to about a millimeter.
        p.math $$ R \lesssim 1 mm $$

    section
        h3 The Randall-Sundrum Model
        div(style="width: 47%; float: left; font-size: 30px; margin-top: 7%; margin-right: 3%")
            p(style="text-align: left") Building on this idea, the RS model assumes the extra dimension takes the form
                |  of a circle with halves identified.
            p.math(style="text-align: left") $$ S^1 / \mathbb{Z}_2 $$
            P(style="text-align: left") This has two fixed points at \( y = 0\) and \( y = \pi R \equiv L \). On each of these
                |  fixed points is a 3+1 brane that enclose the 5D bulk.
        div(style="width: 47%; float: right; margin-top: 10%")
            img(src="images/RSgeometry.png")

    section
        p Now that we know what our space-time looks like we need to figure out how this geometry changes what we measure.
            |  The first step in any calculations with a curved space-time is to find the metric.
        p We start with a 5D warped line element:
        p.math $$ ds^2 = e^{-2A(y)}\eta_{\mu\nu}dx^\mu dx^\nu + dy^2 $$
        p and the action:
        p.math $$ S = S_{H} + S_{M} = \int dx^4 \int_{-L}^{L} dy \sqrt{-g}(M^3R-\Lambda) $$
        P We are interested in the so called "Warp Factor" \(e^{-2A(y)}\). We must determine the function \(A(y)\).

    section(data-background="#000000")
        div(style="background-color: rgb(20, 98, 135); width: 100%; height: 400%; position: absolute; top: -100%; left: -45%; z-index: -1;")
        div
            div(style="width: 50%; display: inline-block; margin-right: 5%; vertical-align: top;")
                p(style="text-align: right;") To find \(A(y)\) we must use the 5D Einstein equations
            div(style="width: 40%; display: inline-block;")
                p(style="text-align: left; font-size: 24px;") $$ G_{MN} = R_{MN} - \frac{1}{2}g_{MN}R = \kappa^2T_{MN},\\ \kappa^2 \equiv \frac{1}{2M^3} $$

        div.fragment(style="margin: 50px 0px;")
            div(style="width: 50%; display: inline-block; margin-right: 5%; vertical-align: top;")
                p(style="text-align: right;") The stress-energy tensor in this case is
            div(style="width: 40%; display: inline-block;")
                p(style="text-align: left;") $$ T_{MN} =  \frac{-2}{\sqrt{-g}} \frac{\delta S_{M}}{\delta g^{MN}} $$

        div.fragment(style="margin: 50px 0px;")
            div(style="width: 50%; display: inline-block; margin-right: 5%; vertical-align: top;")
                p(style="text-align: right;") Using the matter part of the Einstein-Hilbert action
            div(style="width: 40%; display: inline-block;")
                p(style="text-align: left;") $$ \kappa^2 T_{MN} = \frac{-\Lambda g_{MN}}{2M^3}, g_{55} = 1 $$

        div.fragment(style="margin: 50px 0px;")
            div(style="width: 50%; display: inline-block; margin-right: 5%; vertical-align: top;")
                p(style="text-align: right;") Then the extra dimension component of the Einstein Tensor
            div(style="width: 40%; display: inline-block;")
                p(style="text-align: left;") $$ G_{55} = 6A'^2 = \frac{-\Lambda}{2M^3} $$

    section(data-background="#000000")
        div(style="background-color: rgb(20, 98, 135); width: 100%; height: 500%; position: absolute; top: -100%; left: -45%; z-index: -1;")
        div
            div(style="width: 50%; display: inline-block; margin-right: 5%; vertical-align: top;")
                p(style="text-align: right;") \(A'^2\) is a constant we call \(k^2\)
            div(style="width: 40%; display: inline-block;")
                p(style="text-align: left;") $$ A'^2 = \frac{-\Lambda}{12M^3} \equiv k^2 $$

        div.fragment(style="margin: 50px 0px;")
            div(style="width: 50%; display: inline-block; margin-right: 5%; vertical-align: top;")
                p(style="text-align: right;") Integrating over y
            div(style="width: 40%; display: inline-block;")
                p(style="text-align: left;") $$ A(y) = \pm ky $$

        div.fragment(style="margin: 50px 0px;")
            div(style="width: 50%; display: inline-block; margin-right: 5%; vertical-align: top;")
                p(style="text-align: right;") We want this to obey the oribifold symmetry \(y \rightarrow -y\)
            div(style="width: 40%; display: inline-block;")
                p(style="text-align: left;") $$ A(y) = k|y| $$

    section
        p And so, finally, we have the line element
        p.math $$ ds^2 = e^{-2k|y|} \eta_{\mu\nu}dx^\mu dx^\nu + dy^2 $$
        p where our warped metric is
        p.math $$ g_{\mu\nu} = e^{-2k|y|}\eta_{\mu\nu} $$

    section
        h3 Back to Particles
        p Now that we have our metric we can return to what we care about
        h2.fragment Particles!

    section
        p Consider the Higgs field with the action

        p.math(style="text-align: left") $$ S_{Higgs} = \int d^4x \sqrt{g} [g^{\mu\nu} D_\mu H^{\dagger} D_\nu H - \lambda(H^{\dagger}H-v^2)^2] $$

        p We substitute the metric we found at the matter brane \( (y = L) \)

        p.math $$ S_{Higgs} = \int d^4x e^{-4kL} [e^{2kL}\eta^{\mu\nu} D_\mu H^{\dagger} D_\nu H - \lambda(H^{\dagger}H-v^2)^2] $$

    section
        p Then to get a canonically normalized action we make the substitution \(H = e^{kL} \tilde{H} \)

        p.math(style="text-align: left") $$ S_{Higgs} = \int d^4x  [\eta^{\mu\nu} D_\mu \tilde{H}^{\dagger} D_\nu \tilde{H} - \lambda(\tilde{H}^{\dagger}\tilde{H}-(e^{-kL}v)^2)^2] $$

        p This is the normal Higgs action except the vacuum expectation value is exponentially supressed.

        p.math $$ v_{eff} = e^{-kL}v $$


    section
        p Because the Higgs vev is responsible for the mass parameters in the SM, this naturally generates
            |  a heirarchy on the matter brane.
        img(src="images/RSvev.png")

    section
        p Considering that \(M_{W} \simeq 10^{-16}M_{Pl} \) then we can estimate the size of the extra dimesion
        p $$ kL \simeq 35 $$
        p More often in papers the quantity \( k/M_{Pl} \sim \mathcal{O}(0.1) \) is used.
        img(src="images/RSresonances.png" style="height: 50%")

    section
        h3 Summary
        ul
            li We have seen an outline of how the Randall-Sundrum Model is defines an extra space dimension.
            li We used the shape of this extra dimesion to calculate the "warp factor" and the metric.
            li This metric was then used to show how this model can generate a natural heirarchy on the 3+1 matter brane.

        p
        p(style="text-align: left; font-size: 22px;")
            i "A Large Mass Heirarchy from a Small Extra Dimension", L. Randall, R. Sundrum, arXiv:hep-ph/9905221
        p(style="text-align: left; font-size: 22px;")
            i "The Randall-Sundrum Model", Maxime Gabella, June 2006, IPPC, EPEL

    section
        img(src="images/IWTBPoster.jpg" style="height: 100%")
