extends ../../jadeTemplates/DiphotonTemplate.jade
block vars
    -var title = "RS Gravitons";


block content
    section
        h3 Kaluza-Klein Theories
        p Theodore Kaluza and Oscar Klein developed these extra
            |  dimension theories in the 1920s, originally as a
            |  way to unify the electromagnetic and gravitational fields.
        p This was done by proposing that these separate fields were really
            |  components of a higher dimensional field.

    section(data-background="#000000")
        div(style="background-color: rgb(20, 98, 135); width: 100%; height: 500%; position: absolute; top: -100%; left: -45%; z-index: -1;")
        div
            div(style="width: 50%; display: inline-block; margin-right: 5%; vertical-align: top;")
                p(style="text-align: right;") Consider one periodic extra dimesion:
            div(style="width: 40%; display: inline-block;")
                p(style="text-align: left;") $$ x^5 \sim x^5 + 2 \pi R $$

        div.fragment(style="margin: 50px 0px;")
            div(style="width: 50%; display: inline-block; margin-right: 5%; vertical-align: top;")
                p(style="text-align: right;") The periodic dimension would have momentum,
            div(style="width: 40%; display: inline-block;")
                p(style="text-align: left;") $$ p^5 = \frac{n}{R}, n \in \mathbb{Z} $$

        div.fragment(style="margin: 50px 0px;")
            div(style="width: 50%; display: inline-block; margin-right: 5%; vertical-align: top;")
                p(style="text-align: right;") and, the equation of motion is:
            div(style="width: 40%; display: inline-block;")
                p(style="text-align: left;") $$ \partial_{\mu}\partial^{\mu} \phi^n (x^\mu) = \frac{n^2}{R^2} \phi^n (x^\mu) $$

        div.fragment(style="margin: 50px 0px;")
            div(style="width: 50%; display: inline-block; margin-right: 5%; vertical-align: top;")
                p(style="text-align: right;") This gives fields with mass:
            div(style="width: 40%; display: inline-block;")
                p(style="text-align: left;") $$ m^2 = \frac{n^2}{R^2} $$

    section
        p At energies large compared to \(R^{-1}\) we should get KK states that can be
            |  found experimentally.
        p The current experimental constraint on extra dimensions of this type in terms of \(R\) is
        p.math $$ R \lesssim 10^{-21} cm $$
        div.fragment
            p(style="color: #cc0000; font-size: 200%") Far too small to see!!

    section
        p An idea presented by Arkani-Hamed, Dimopoulos and Dvali suggests that this extra
            |  dimension is only accessible to gravity.
        p The size of the extra dimension is then only bounded by tests of gravity which has been
            |  measured down to about a millimeter.
        p.math $$ R \lesssim 1 mm $$

    section
        h3 The Randall-Sundrum Model
        div(style="width: 47%; float: left; font-size: 30px; margin-top: 7%; margin-right: 3%")
            p(style="text-align: left") Building on this idea, the RS model assumes the extra dimension takes the form
                |  of a circle with halves identified.
            p.math(style="text-align: left") $$ S^1 / \mathbb{Z}_2 $$
            P(style="text-align: left") This has two fixed points at \( y = 0\) and \( y = \pi R \equiv L \). On each of these
                |  fixed points is a 3+1 brane that enclose the 5D bulk.
        div(style="width: 47%; float: right; margin-top: 10%")
            img(src="images/RSgeometry.png")

    section
        p Now that we know what our space-time looks like we need to figure out how this geometry changes what we measure.
            |  The first step in any calculations with a curved space-time is to find the metric.
        p We start with a 5D warped line element:
        p.math $$ ds^2 = e^{-2A(y)}\eta_{\mu\nu}dx^\mu dx^\nu + dy^2 $$
        p and the action:
        p.math $$ S = S_{H} + S_{M} = \int dx^4 \int_{-L}^{L} dy \sqrt{-g}(M^3R-\Lambda) $$
        P We are interested in the so called "Warp Factor" \(e^{-2A(y)}\). We must determine the function \(A(y)\).

    section(data-background="#000000")
        div(style="background-color: rgb(20, 98, 135); width: 100%; height: 500%; position: absolute; top: -100%; left: -45%; z-index: -1;")
        div(style="height: 100%;")
            div(style="width: 50%; display: inline-block; margin-right: 5%; vertical-align: top;")
                p(style="text-align: right;") To find \(A(y)\) we must use the 5D Einstein equations
            div(style="width: 40%; display: inline-block;")
                p(style="text-align: left;") $$ G_{MN} = R_{MN} - \frac{1}{2}g_{MN}R = \kappa^2T_{MN},\\ \kappa^2 \equiv \frac{1}{2M^3} $$

        div.fragment(style="margin: 50px 0px;")
            div(style="width: 50%; display: inline-block; margin-right: 5%; vertical-align: top;")
                p(style="text-align: right;") The stress-energy tensor in this case is
            div(style="width: 40%; display: inline-block;")
                p(style="text-align: left;") $$ T_{MN} =  \frac{-2}{\sqrt{-g}} \frac{\delta S_{M}}{\delta g^{}MN} $$

        div.fragment(style="margin: 50px 0px;")
            div(style="width: 50%; display: inline-block; margin-right: 5%; vertical-align: top;")
                p(style="text-align: right;") Using the matter part of the Einstein-Hilbert action
            div(style="width: 40%; display: inline-block;")
                p(style="text-align: left;") $$ \kappa^2 T_{MN} = \frac{-\Lambda g_{MN}}{2M^3}, g_{55} = 1 $$

        div.fragment(style="margin: 50px 0px;")
            div(style="width: 50%; display: inline-block; margin-right: 5%; vertical-align: top;")
                p(style="text-align: right;") Then the extra dimension component of the Einstein Tensor is
            div(style="width: 40%; display: inline-block;")
                p(style="text-align: left;") $$ G_{55} = 6A'^2 = \frac{-\Lambda}{2M^3} $$

    section(data-background="#000000")
        div(style="background-color: rgb(20, 98, 135); width: 100%; height: 500%; position: absolute; top: -100%; left: -45%; z-index: -1;")
        div
            div(style="width: 50%; display: inline-block; margin-right: 5%; vertical-align: top;")
                p(style="text-align: right;") \(A'^2\) is a constant we call \(k^2\)
            div(style="width: 40%; display: inline-block;")
                p(style="text-align: left;") $$ A'^2 = \frac{-\Lambda}{12M^3} \equiv k^2 $$

        div.fragment(style="margin: 50px 0px;")
            div(style="width: 50%; display: inline-block; margin-right: 5%; vertical-align: top;")
                p(style="text-align: right;") Integrating over y
            div(style="width: 40%; display: inline-block;")
                p(style="text-align: left;") $$ A(y) = \plusminus ky $$

        div.fragment(style="margin: 50px 0px;")
            div(style="width: 50%; display: inline-block; margin-right: 5%; vertical-align: top;")
                p(style="text-align: right;") We want this to obey the oribifold symmetry \(y \rightarrow -y\)
            div(style="width: 40%; display: inline-block;")
                p(style="text-align: left;") $$ A(y) = k|y| $$

        div.fragment(style="margin: 50px 0px;")
            div(style="width: 50%; display: inline-block; margin-right: 5%; vertical-align: top;")
                p(style="text-align: right;") And so we have the line element
            div(style="width: 40%; display: inline-block;")
                p(style="text-align: left;") $$ ds^2 = e^{-2k|y|} \eta_{\mu\nu}dx^\mu dx^\nu + dy^2 $$
