extends ../../jadeTemplates/DiphotonTemplate.jade
block vars
    -var title = "2016 Data Validation";


block content
    section
        iframe(src="http://hn.hep.upenn.edu/Analysis/robflet/html/Presentations/RevealTalks/egamma/egamma/data_mc_showershapes.pdf" width="445" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:3px solid #666; margin-bottom:5px; max-width: 100%;" allowfullscreen)
