extends ../../jadeTemplates/DiphotonTemplate.jade
block vars
    -var title = "Talk example";
    
    
block content
    section
        h3 Example Slide Title
        p Some slide text goes in here.
            | another line of slide text.
            
        ul
            li First item in list
            li Second item in list
            li Third item in list
