extends ../../EgammaLayout.jade

title PDFs with 2015 data

block content
    .section
        h1 Data-driven PDFs for 2016
        
    .section
        h2 this is slide 2
        p Some more things about slide 2
        p Even more things about slide 2
        
    .section
        h3 This is an h3 header.
