/*===============================
    General Setup
================================*/

/* Images */
.reveal section img {
  margin: 0;
  background: none;
  border: 0;
  box-shadow: none;
  }

h3 h4 {
    color: red;
}
