/*===============================
    General Setup
================================*/

/* Images */
.reveal section img {
  margin: 0;
  background: none;
  border: 0;
  box-shadow: none;
  }

/* Slide layout Templates */

/* Vertically split slide */
div .Vsplit {
  border: 1px dashed green;
  padding: 1px;
  display:inline-block;
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
}
* .Vsplit div.left {
  display: inline-block;
  border: 2px solid green;
  width: 49%;
  height: 100%;
  float: left;
}
* .Vsplit div.right {
  display: inline-block;
  border: 2px solid green;
  width: 49%;
  height: 100%;
  float: left;
}
.Vsplit img {
  max-width: 100%;
  max-height: 100%;
}

.Vsplit p,
.Vsplit h4,
.Vsplit h3,
.Vsplit ul,
.Vsplit li {
  word-wrap: break-word;
}

/* Split page into 4 quadrents   */
.quad {
  border: 0;
  padding: 0;
}

.quad div.upl,
.quad div.upr {
  width: 50%;
  height: 50%;
  float: left;
}

.quad div.lowl,
.quad div.lowr {
  width: 50%;
  height: 50%;
  float: left;
}
.quad img {
  max-width: 100%;
  max-height: 100%;
}

/* Split slide horrizontally */
* .Hsplit {
  background-color: grey;
  display:inline-block;
  height: 100%;
  width: 100%;
}
* .Hsplit div.up{
  border: 2px solid white;
  padding: 2px;
  width: 100%;
  height: 50%;
}
* .Hsplit div.low{
  border: 2px solid white;
  padding: 2px;
  width: 100%;
  height: 50%;
}
* .Hsplit div.low img {
  max-height: 95%;
  max-width: 95%;
}


#banner{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
}

#footer{
  width: 100%;
  height: 5%;
}

/* Split slide horrizontally */
* .Hsplit {
  border: 0;
  padding: 0;
}
* .Hsplit div.up{
  width: 100%;
  height: 50%;
}
* .Hsplit div.low{
  width: 100%;
  height: 50%;
}
.Hsplit div.up img
.Hsplit div.low img {
  max-height: 100%;
  max-width: 100%;
}
